@page "/GeologicalPropertiesInterpolationCase"
@inject ILogger<GeologicalPropertiesInterpolationCaseMain> logger
@inject ISnackbar Snackbar

<MudUnitAndReferenceChoiceTag HttpHost=@APIUtils.HostNameUnitConversion
                              HttpBasePath=@APIUtils.HostBasePathUnitConversion
                              HttpController="UnitSystem/"
                              UnitSystemName="@DataUtils.UnitAndReferenceParameters.UnitSystemName"
                              UnitSystemNameChanged="@DataUtils.UpdateUnitSystemName">
    @if (geologicalPropertiesInterpolationCaseList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <MudCollapse Expanded="@(showMainPanel)"> 
            <MudDataGrid T="GeologicalPropertiesInterpolationCase" MultiSelection="true" Items="@geologicalPropertiesInterpolationCaseList" SelectedItemsChanged="@SelectedItemsChanged"                    
                         Hover="true"
                         SortMode="SortMode.Multiple" QuickFilter="@_geologicalPropertiesInterpolationCaseFilter" Filterable="false"
                         ReadOnly="false" ColumnResizeMode="ResizeMode.Column" Elevation="0">
                <ToolBarContent>
                    <MudText Class="mx-2 px-2" Typo="Typo.h6">Geological Properties</MudText>
                    <MudButton OnClick="@AddGeologicalPropertiesInterpolationCase" 
                        StartIcon="@Icons.Material.Outlined.Add" 
                        IconColor="@Color.Success" Class="add-item-btn">
                            Add
                    </MudButton>                    
                    <MudButton OnClick="@DeleteSelectedGeologicalPropertiesInterpolationCase" 
                        StartIcon="@Icons.Material.Outlined.Delete" 
                        IconColor="@Color.Error" Class="add-item-btn">
                            Delete
                    </MudButton>
                    <MudSpacer />
                    <MudTextField @bind-Value="_searchString" Placeholder="Search" 
                        Adornment="Adornment.Start" 
                        Immediate="true"
                        AdornmentIcon="@Icons.Material.Filled.Search" 
                        IconSize="Size.Medium" Class="mt-0">
                    </MudTextField>
                </ToolBarContent>
                <Columns>
                    <SelectColumn T="GeologicalPropertiesInterpolationCase" />
                    <PropertyColumn Property="x => x.Name" Title="@DataUtils.GeologicalPropertiesInterpolationCaseNameLabel" CellStyle="width: 25%;" Sortable="true" Editable="false" />
                    <PropertyColumn Property="x => x.Description" Title="@DataUtils.GeologicalPropertiesInterpolationCaseDescrLabel" CellStyle="width: 45%;" Sortable="true" Editable="false" />
                    <PropertyColumn Property="x => (interpolationCaseDicts == null || x.GeologicalPropertiesID == null || x.GeologicalPropertiesID == Guid.Empty || !interpolationCaseDicts.ContainsKey(x.GeologicalPropertiesID.Value) || interpolationCaseDicts[x.GeologicalPropertiesID.Value] == null) ? string.Empty : interpolationCaseDicts[x.GeologicalPropertiesID.Value].Name"
                                    Title="Geological Properties" Sortable="true" Filterable="false" />
                    <TemplateColumn CellClass="d-flex justify-end">
                        <CellTemplate>
                            <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Filled.RemoveRedEye" OnClick="(() => ViewGeologicalPropertiesInterpolationCase(context.Item.MetaInfo.ID))" />                                                                                
                            <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Edit" OnClick="(() => EditGeologicalPropertiesInterpolationCase(context.Item.MetaInfo.ID))" />                                                    
                            <MudIconButton Size="@Size.Medium" Icon="@Icons.Material.Outlined.Delete" OnClick="(() => DeleteGeologicalPropertiesInterpolationCase(context.Item.MetaInfo.ID))" />
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="GeologicalPropertiesInterpolationCase" />
                </PagerContent>
            </MudDataGrid>  
        </MudCollapse> 
    }
    @if (showAddPanel)
    {
        <MudCollapse Expanded="@(showAddPanel)"> 
            <GeologicalPropertiesInterpolationCaseAdd ShowPanel="@(showAddPanel)" 
                                                      Fields="@fieldDicts"
                                                      Clusters="@clusterDicts"
                                                      Wells="@wellDicts"
                                                      WellBores="@wellBoreDicts"
                                                      GeologicalProperties="@geologicalPropertiesDicts"
                                                      ValueChanged="@HandleAddPanel"
                                                      GeologicalPropertiesInterpolationCaseID = "@geologicalPropertiesInterpolationCaseID"/>
        </MudCollapse>
    }
    @if (showViewPanel)
    {
        <MudCollapse Expanded="@(showViewPanel)"> 
            <GeologicalPropertiesInterpolationCaseView Fields="@fieldDicts"
                                                       Clusters="@clusterDicts"
                                                       Wells="@wellDicts"
                                                       WellBores="@wellBoreDicts"
                                                       GeologicalProperties="@geologicalPropertiesDicts"
                                                       GeologicalPropertiesInterpolationCaseID="@geologicalPropertiesInterpolationCaseID" 
                                                       ValueChanged="@HandleViewPanel" />
        </MudCollapse>
    }
    
</MudUnitAndReferenceChoiceTag>
@code {
    // GeologicalPropertiesInterpolationCase related variables
    private List<GeologicalPropertiesInterpolationCase> geologicalPropertiesInterpolationCaseList = new();
    private List<GeologicalPropertiesInterpolationCase> selectedGeologicalPropertiesInterpolationCaseList = new();
    private List<object?>? inputDataList = new(); // container used to pass input data to the GeologicalPropertiesInterpolationCaseEdit razor component without specifying content types (required by µservice Template)
    // Permeability related variables
    private Guid? geologicalPropertiesInterpolationCaseID = null;

    // Create dictionaries to collect the Guid and Name of auxiliary fields
    private Dictionary<Guid, Field> fieldDicts = new();
    private Dictionary<Guid, Cluster> clusterDicts = new();
    private Dictionary<Guid, Well> wellDicts = new();
    private Dictionary<Guid, WellBore> wellBoreDicts = new();
    private Dictionary<Guid, GeologicalPropertiesLight> geologicalPropertiesDicts = new();
    private Dictionary<Guid, GeologicalPropertiesInterpolationCase> interpolationCaseDicts = new();

    // UI related variables
    private bool showAddPanel = false;
    private bool showMainPanel = true;
    private bool showViewPanel = false;
    private string? _searchString;
    [Inject] private IDialogService? DialogService { get; set; } = null;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Show main panel
            // Starting all loading tasks asynchronously
            logger.LogInformation("Trying to load list of Permeability from client: " + APIUtils.HttpClientGeologicalProperties);
            logger.LogInformation("Trying to load list of GeologicalPropertiesInterpolationCase from client: " + APIUtils.HostNameGeologicalProperties);
            var geologicalPropertiesInterpolationCaseTask = APIUtils.ClientGeologicalProperties.GetAllGeologicalPropertiesInterpolationCaseAsync();

            List<Task> loadingTaskList = new List<Task> { geologicalPropertiesInterpolationCaseTask };

            // Awaiting tasks and retrieve results as they become available
            while (loadingTaskList.Count > 0)
            {
                Task finishedTask = await Task.WhenAny(loadingTaskList);
                if (finishedTask == geologicalPropertiesInterpolationCaseTask)
                {
                    try
                    {
                        geologicalPropertiesInterpolationCaseList = (List<GeologicalPropertiesInterpolationCase>)await geologicalPropertiesInterpolationCaseTask; // awaiting the finished task allows to retrieve its result and throw exception if needed
                        if (geologicalPropertiesInterpolationCaseList != null)
                        {
                            geologicalPropertiesInterpolationCaseList.Sort((t1, t2) => t1.Name.CompareTo(t2.Name));
                        }
                        else
                        {
                            logger.LogWarning("Returned list of GeologicalPropertiesInterpolationCase was null on initialization");
                            Snackbar.Add("Returned list of GeologicalPropertiesInterpolationCase was null on initialization", Severity.Warning);
                        }
                    }
                    catch (ApiException ex)
                    {
                        logger.LogError(ex, "Impossible to load GeologicalPropertiesInterpolationCase from client");
                    }
                }

                loadingTaskList.Remove(finishedTask);
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Problem GeologicalPropertiesInterpolationCase initialization");
        }
        try
        {
            // get guid and name from external microservices
            ICollection<Field> fields = await APIUtils.ClientField.GetAllFieldAsync();
            foreach (Field field in fields)
            {
                if (!fieldDicts.ContainsKey(field.MetaInfo.ID))
                {
                    fieldDicts.Add(field.MetaInfo.ID, field);
                }
            }
            ICollection<Cluster> clusters = await APIUtils.ClientCluster.GetAllClusterAsync();
            foreach (Cluster cluster in clusters)
            {
                if (!clusterDicts.ContainsKey(cluster.MetaInfo.ID))
                {
                    clusterDicts.Add(cluster.MetaInfo.ID, cluster);
                }
            }
            ICollection<Well> wells = await APIUtils.ClientWell.GetAllWellAsync();
            foreach (Well well in wells)
            {
                if (!wellDicts.ContainsKey(well.MetaInfo.ID))
                {
                    wellDicts.Add(well.MetaInfo.ID, well);
                }
            }
            ICollection<WellBore> wellBores = await APIUtils.ClientWellBore.GetAllWellBoreAsync();
            foreach (WellBore wellBore in wellBores)
            {
                if (!wellBoreDicts.ContainsKey(wellBore.MetaInfo.ID))
                {
                    wellBoreDicts.Add(wellBore.MetaInfo.ID, wellBore);
                }
            }
            ICollection<GeologicalPropertiesLight> geologicalProperties = await APIUtils.ClientGeologicalProperties.GetAllGeologicalPropertiesLightAsync();
            foreach (GeologicalPropertiesLight geoProp in geologicalProperties)
            {
                if (!wellBoreDicts.ContainsKey(geoProp.MetaInfo.ID))
                {
                    geologicalPropertiesDicts.Add(geoProp.MetaInfo.ID, geoProp);
                }
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to load microservices");
        }
        await InvokeAsync(() => { StateHasChanged(); });
    }
    private async Task HandleAddPanel()
    {
        await OnInitializedAsync();
        showAddPanel = false;
        showMainPanel = true;
        showViewPanel = false;
    }
    private async Task HandleViewPanel()
    {
        showAddPanel = false;
        showMainPanel = true;
        showViewPanel = false;
        await Task.Delay(1);
    }
    private void AddGeologicalPropertiesInterpolationCase()
    {
        showAddPanel = true;
        showMainPanel = false;
        showViewPanel = false;
        geologicalPropertiesInterpolationCaseID = null;        
    }
    private void EditGeologicalPropertiesInterpolationCase(Guid id)
    {
        showViewPanel = false;
        showAddPanel = true;
        showMainPanel = false;
        geologicalPropertiesInterpolationCaseID = id;        
    }
    private void ViewGeologicalPropertiesInterpolationCase(Guid id)
    {
        showAddPanel = false;
        showViewPanel = true;        
        showMainPanel = false;
        geologicalPropertiesInterpolationCaseID = id;        
    }
    private async Task<bool> ConfirmDeletion()
    {
        var options = new DialogOptions 
        { 
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Small,
            FullWidth = true    
        };
        IDialogReference? dialog = null;
        DialogResult? result = null;
        if (DialogService != null)
        {
            dialog = await DialogService.ShowAsync<DialogDeleteTemplate>("DELETE", options);
            if (dialog != null)
            {
                result = await dialog.Result;
            }
        }
        StateHasChanged();
        StateHasChanged();
        if (result == null)
        {
            return false;
        }
        else
        {
            return (!result.Canceled);
        }
    }
    private async Task DeleteGeologicalPropertiesInterpolationCase(Guid id)
    {
        try
        {
            if (await ConfirmDeletion())
            {            
                await APIUtils.ClientGeologicalProperties.DeleteGeologicalPropertiesInterpolationCaseByIdAsync(id);
                await OnInitializedAsync();
            }
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to delete GeologicalPropertiesInterpolationCase");
        }
    }

    private async Task DeleteSelectedGeologicalPropertiesInterpolationCase()
    {
        try
        {
            if (await ConfirmDeletion())
            {
                foreach (GeologicalPropertiesInterpolationCase geologicalPropertiesInterpolationCase in selectedGeologicalPropertiesInterpolationCaseList)
                {
                    await APIUtils.ClientGeologicalProperties.DeleteGeologicalPropertiesInterpolationCaseByIdAsync(geologicalPropertiesInterpolationCase.MetaInfo.ID);
                }
            }
            await OnInitializedAsync();
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Impossible to delete all GeologicalPropertiesInterpolationCase");
        }

    }

    //Quick filter - filter gobally across multiple columns with the same input
    private Func<GeologicalPropertiesInterpolationCase, bool>
    _geologicalPropertiesInterpolationCaseFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;
        if ($"{x.Name} {x.Description}".Contains(_searchString))
            return true;

        return false;
    };

    //Events
    private void StartedEditingItem(GeologicalPropertiesInterpolationCase item)
    {
        //Activating Edit event capture with parameter StartedEditingItem="@StartedEditingItem" in MudDataGrid; arguments are specified in OnClick="@context.Actions.StartedEditingItem(...)"
    }

    private void CancelledEditingItem(GeologicalPropertiesInterpolationCase item)
    {
        //Activating Cancel event capture with parameter CancelledEditingItem = "@CancelledEditingItem" in MudDataGrid; arguments are specified in OnClick="@context.Actions.CancelledEditingItem(...)"
    }

    private void CommittedItemChanges(GeologicalPropertiesInterpolationCase item)
    {
        //Activating Commit event capture with parameter CommittedItemChanges = "@CommittedItemChanges" in MudDataGrid; arguments are specified in OnClick="@context.Actions.CommittedEditingItem(...)"
    }

    void SelectedItemsChanged(HashSet<GeologicalPropertiesInterpolationCase>
        items)
    {
        selectedGeologicalPropertiesInterpolationCaseList.Clear();
        selectedGeologicalPropertiesInterpolationCaseList.InsertRange(0, items);
    }

    private async void ShowMainPanel()
    {
        showAddPanel = true;
        await OnInitializedAsync();
    }
}
